<!DOCTYPE html>
<html lang="">

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>Webpack App</title>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js></script>
    <link href=/js/about.c43d71f7.js rel=prefetch>
    <link href=/css/app.5c9713c3.css rel=preload as=style>
    <link href=/js/app.ec88c5a9.js rel=preload as=script>
    <link href=/js/chunk-vendors.a5011679.js rel=preload as=script>
    <link href=/css/app.5c9713c3.css rel=stylesheet>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emmit('my event', {
                data: 'I\'m connected!'
            });
        });
    </script> -->
</head>

<body><noscript><strong>We're sorry but Webpack App doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.a5011679.js></script>
    <script src=/js/app.ec88c5a9.js></script>

</body>

</html>